<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Danh sách cửa hàng</title>
  <th:block th:replace="layout :: link-css"></th:block>
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
  <th:block th:replace="layout :: header"></th:block>
  <div id="content-wrapper">
    <div id="content">
      <th:block th:replace="layout :: nav"></th:block>
      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h5 class="font-weight-bold text-primary">Cửa hàng</h5>
            <a sec:authorize="hasAuthority('ADMIN')" class="mt-3"
               th:href="@{cua-hang/them-cua-hang}">Thêm cửa hàng</a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Mã cửa hàng</th>
                  <th>Tên cửa hàng</th>
                  <th>Số điện thoại</th>
                  <th>Địa chỉ</th>
                  <th>Lượt đánh giá</th>
                  <th>Chất lượng</th>
                  <th>Giờ mở cửa</th>
                  <th>Giờ đóng cửa</th>
                  <th>Thao tác</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th>Mã cửa hàng</th>
                  <th>Tên cửa hàng</th>
                  <th>Số điện thoại</th>
                  <th>Địa chỉ</th>
                  <th>Lượt đánh giá</th>
                  <th>Chất lượng</th>
                  <th>Giờ mở cửa</th>
                  <th>Giờ đóng cửa</th>
                  <th>Thao tác</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="cuaHang: ${cuaHangs}">
                  <td th:text="${cuaHang.macuahang}"></td>
                  <td th:text="${cuaHang.tencuahang}"></td>
                  <td th:text="${cuaHang.sodienthoai}"></td>
                  <td th:text="${cuaHang.diachi}"></td>
                  <td th:text="${cuaHang.luotdanhgia}"></td>
                  <td th:text="${cuaHang.chatluong}"></td>
                  <td th:text="${cuaHang.giomocua}"></td>
                  <td th:text="${cuaHang.giodongcua}"></td>
                  <td>
                    <a th:href="@{'/cua-hang/sua-cua-hang/' + ${cuaHang.macuahang}}" class="mr-2">
                      <i class="fa-regular fa-pen-to-square"></i></a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/cua-hang/xoa-cua-hang/' + ${cuaHang.macuahang}}"
                       onclick="return confirm('Xóa cửa hàng này?')"><i class="fas fa-times" style="color:red"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <th:block th:replace="layout :: footer"></th:block>
    </div>
  </div>
</div>

<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/datatables-demo.js"></script>
</body>
</html>