<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
  <meta charset="UTF-8">
  <title>Thêm Cửa Hàng</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body id="page-top">
<div id="wrapper">
  <th:block th:replace="layout :: header"></th:block>
  <div id="content-wrapper">
    <div id="content">
      <th:block th:replace="layout :: nav"></th:block>
      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thêm cửa hàng</h6>
          </div>
          <form class="p-4" th:action="@{/cua-hang/them-cua-hang}" th:object="${newCuaHang}" method="POST" enctype="multipart/form-data">
            <div class="row mt-2">
              <div class="col">
                <label class="form-label" for="tencuahang">Tên Cửa Hàng:</label><span class="text-danger"> *</span>
                <input class="form-control" type="text" id="tencuahang" th:field="*{tencuahang}">
                <span class="text-danger" th:if="${#fields.hasErrors('tencuahang')}" th:errors="*{tencuahang}"></span>
              </div>
              <div class="col">
                <label class="form-label" for="sodienthoai">Số Điện Thoại:</label><span class="text-danger"> *</span>
                <input class="form-control" id="sodienthoai" th:field="*{sodienthoai}">
                <span class="text-danger" th:if="${#fields.hasErrors('sodienthoai')}" th:errors="*{sodienthoai}"></span>
              </div>
            </div>

            <div class="mt-2">
              <label class="form-label" for="tinhtrang">Tình Trạng:</label>
              <textarea class="form-control" id="tinhtrang" th:field="*{tinhtrang}" style="height:300px"></textarea>
              <span class="text-danger" th:if="${#fields.hasErrors('tinhtrang')}" th:errors="*{tinhtrang}"></span>
            </div>

            <div class="row mt-2">
              <div class="col">
                <label class="form-label" for="diachi">Địa Chỉ:</label><span class="text-danger"> *</span>
                <input class="form-control" type="text" id="diachi" th:field="*{diachi}">
                <span class="text-danger" th:if="${#fields.hasErrors('diachi')}" th:errors="*{diachi}"></span>
              </div>
              <div class="col">
                <label class="form-label" for="giomocua">Giờ Mở Cửa:</label>
                <input class="form-control" type="time" id="giomocua" th:field="*{giomocua}">
                <span class="text-danger" th:if="${#fields.hasErrors('giomocua')}" th:errors="*{giomocua}"></span>
              </div>
              <div class="col">
                <label class="form-label" for="giodongcua">Giờ Đóng Cửa:</label>
                <input class="form-control" type="time" id="giodongcua" th:field="*{giodongcua}">
                <span class="text-danger" th:if="${#fields.hasErrors('giodongcua')}" th:errors="*{giodongcua}"></span>
              </div>
            </div>

            <div class="mt-2">
              <label class="form-label" for="file">Hình Ảnh:</label>
              <input class="form-control" type="file" id="file" name="file" required>
            </div>
            <button class="btn btn-success form-control mt-3" type="submit">Thêm cửa hàng</button>
          </form>
        </div>
      </div>
      <th:block th:replace="layout :: footer"></th:block>
    </div>
  </div>
</div>
</body>
</html>