<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Danh sách hóa đơn</title>
    <th:block th:replace="layout :: link-css"></th:block>
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
    <th:block th:replace="layout :: header"></th:block>
    <div id="content-wrapper">
        <div id="content">
            <th:block th:replace="layout :: nav"></th:block>
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h5 class="font-weight-bold text-primary">Hóa đơn</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Mã hóa đơn</th>
                                    <th>Mã đơn hàng</th>
                                    <th>Tên khách hàng</th>
                                    <th>Ngày lập</th>
                                    <th>Tổng tiền</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Mã hóa đơn</th>
                                    <th>Mã đơn hàng</th>
                                    <th>Tên khách hàng</th>
                                    <th>Ngày lập</th>
                                    <th>Tổng tiền</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="hoaDon: ${hoaDons}">
                                    <td th:text="${hoaDon.mahoadon}"></td>
                                    <td th:text="${hoaDon.madondathang}"></td>
                                    <td th:text="${hoaDon.tenkhachhang}"></td>
                                    <td th:text="${hoaDon.ngaylap}"></td>
                                    <td th:text="${hoaDon.tongtien}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="layout :: footer"></th:block>
        </div>
    </div>
</div>

<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/datatables-demo.js"></script>
</body>
</html>