<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
  <meta charset="UTF-8">
  <title>Danh sách tài khoản</title>
  <th:block th:replace="layout :: link-css"></th:block>
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
  <th:block th:replace="layout :: header"></th:block>
  <div id="content-wrapper">
    <div id="content">
      <th:block th:replace="layout :: nav"></th:block>
      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="font-weight-bold text-primary">DataTables Account</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>ID Tài Khoản</th>
                  <th>Tên Tài Khoản</th>
                  <th>Thao Tác</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th>ID Tài Khoản</th>
                  <th>Tên Tài Khoản</th>
                  <th>Thao Tác</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="account: ${accounts}">
                  <td th:text="${account.accountId}"></td>
                  <td>
                    <a th:href="@{'/role/assign-role/' + ${account.accountId}}" th:text="${account.username}"></a>
                  </td>
                  <td>
                    <a th:href="@{#}">
                      <i class="fas fa-pen-to-square mr-2"></i></a>
                    <a th:href="@{#}"
                       onclick="return confirm('Delete this role?')"><i class="fas fa-times" style="color:red"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <th:block th:replace="layout :: footer"></th:block>
    </div>
  </div>
</div>

<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/datatables-demo.js"></script>
</body>
</html>