<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Gửi thành công</title>
    <th:block th:replace="layout :: link-css"></th:block>
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
    <th:block th:replace="layout :: header"></th:block>
    <div id="content-wrapper">
        <div id="content">
            <th:block th:replace="layout :: nav"></th:block>
            <div class="container-fluid">
               <h4 class="text-success text-center">Bạn đã gửi thành công. Chúng tôi sẽ phản hồi bạn sớm nhất có thể.</h4>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/datatables-demo.js"></script>
</body>
</html>